* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  /* Only works if there is nothing absolutely positioned in relation to body */
  overflow-x: hidden;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

/* .grid:last-child {
  margin-bottom: 0;
} */

/* .grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
} */

/* .grid--8-cols {
  grid-template-columns: (8, 1fr);
} */

/* .grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
} */

/* .grid--center-v {
  align-items: center;
} */

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-weight: 600;
  background-color: #42bec7;
  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  transform: translateY(3rem);
  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  color: #3d8dce;
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #ffffff;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;

  border: 3px solid #fff;

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  padding: 1rem;
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  font-size: 1.8rem;
  transform: translateY(-0.7rem);
  border-radius: 9px;
  cursor: pointer;
  font-family: inherit;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #ffffff;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
/* 
.container { */
/* 1140px */
/* max-width: 120rem; */
/* padding: 0;
  margin: 0;
  background-color: #3d8dce;
  transform: translateY(-14rem);
  display: grid;
  grid-gap: 20px; */
/* 
  display: grid;
  grid-gap: 20px;
  grid-template-rows: repeat(4, 1fr, 2fr);
} */

.grid {
  display: grid;
}

.grid-template-columns-1 {
  grid-template-columns: repeat(4, 1fr 2fr);
}

.bluebar-container {
  margin: 0;
  background-color: #3d8dce;
  transform: translateY(-14rem);
  padding: 5rem 5rem;
}

.item-icon {
  padding: 1.6rem 0 0 1.6rem;
  height: 7.5rem;
}

.item-text {
  padding-top: 2rem;
  align-items: center;
  color: #fff;
  font: inherit;
  font-size: 2rem;
}

.item-text-details {
  font-size: 1.5rem;
}

.grid-template-columns-2 {
  /* grid-template-columns: 15rem 15rem 10rem 13rem 12rem 15rem; */
  grid-template-columns: repeat(6, 1fr);
  column-gap: 30px;
}

.searchbar-container {
  height: 100rem;
  transform: translateY(-14rem);
  /* padding: 5rem 5rem; */

  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.4)),
      to(rgba(0, 0, 0, 0.4))
    ),
    url(../img/packagebackground.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/packagebackground.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.searchbar-container .box {
  background-color: rgba(62, 62, 62, 0.6);
  padding: 8rem 4rem;
  position: relative;
}

.btn-search {
  transform: translatey(-0.1rem);
}

.searchbar-container label {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  color: #fff;
}

.searchbar-container input,
.searchbar-container select {
  width: 100%;
  padding: 1rem;

  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
}

.search-container *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.owl-carousel .owl-nav button.owl-prev {
  background-color: #478ee8;
  position: absolute;
  left: -75px;
  top: 40%;
  width: 50px;
  height: 50px;
}

.owl-carousel .owl-nav button.owl-prev span {
  height: 50px;
  width: 50px;
  color: white;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.owl-carousel .owl-nav button.owl-next {
  background-color: #478ee8;
  position: absolute;
  right: -75px;
  top: 40%;
  width: 50px;
  height: 50px;
}

.owl-carousel .owl-nav button.owl-next span {
  height: 50px;
  width: 50px;
  color: white;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

h4 {
  margin-top: 2rem;
  margin-left: 1.7rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  font-family: inherit;
  letter-spacing: -0.5px;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 3rem;
}

del {
  display: inline-block;
  padding: 1.7rem 0 0;
  font-size: 2rem;
  font-weight: 600;
  color: #8b8888;
  font-family: inherit;
  letter-spacing: -0.5px;
  transform: translatex(2rem);
}

h3 {
  display: inline-block;
  padding: 0rem 0rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: #3d8dce;
  font-family: inherit;
  letter-spacing: -0.5px;
  transform: translatex(-2rem);
}

.text-details {
  margin-left: 1.7rem;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 800;
  color: #000;
  font-family: inherit;
  letter-spacing: -0.5px;
}

.package-slider .item {
  background-color: #fff;
}

.popular-destination {
  height: 55rem;
  background-color: #fff;
}

.popular-container {
  transform: translateY(-10rem);
  height: 15rem;
  padding: 3rem 0rem;
}

.destination-section {
  padding: 0rem 0 2.5rem 0;
}

.destinations {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
}

.destination-item {
  overflow: hidden;
}

.destination-item img {
  display: block;
  width: 100%;
  height: 35rem;
}

.destination-item {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  /* transition: 0.5s ease; */
  transition: all 0.3s ease-in-out 0s;
  backface-visibility: hidden;
}

.destination-item:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.destination-text {
  text-align: center;
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.destination-item:hover .destination-text {
  opacity: 1;
}

.destination-small-text {
  color: #000;
  font-size: 3rem;
  font-family: inherit;
  font-weight: 700;
  display: inline-block;
  background-color: #ffffffab;
  padding: 1rem 1rem;
}

.wifi {
  color: #3926b7;
  width: 3rem;
  height: 3rem;
}

.tour-container {
  width: 29rem;
}

.tour {
  display: flex;
  justify-content: space-between;
  list-style: none;
  transform: translateY(12rem);
  font-family: inherit;
}

.tour-text {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 600;
  display: inline-block;
  background-color: #e6ff76ab;
  padding: 0.4rem 0.7rem;
  border-radius: 100px;
}

.grid-template-columns-6 {
  grid-template-columns: repeat(2, 1fr);
}

.bicycle {
  color: #3926b7;
  width: 3rem;
  height: 3rem;
  margin-left: 7rem;
  transform: translateY(0.3rem);
}

.newsletter-section {
  height: 70rem;
}

.browse-title {
  font-family: inherit;
  color: #000;
  font-weight: 500;
  font-size: 3rem;
  margin-left: 3rem;
}

.browse-activity {
  margin-top: 5rem;
  margin-left: 10rem;
}

.activities-list {
  list-style: none;
}

#activity-item {
  text-decoration: none;
  font-size: 1.7rem;
  color: #2b2d31;
  font-family: inherit;
  display: inline-block;
  padding: 1rem 1rem;
  font-weight: 600;
}

.newsletter-title {
  font-family: inherit;
  color: #000;
  font-weight: 500;
  font-size: 3rem;
  margin-left: 3rem;
}

.mail {
  color: #3926b7;
  width: 3rem;
  height: 3rem;
  margin-left: 7rem;
  transform: translateY(0.3rem);
}

.news-small-title {
  color: #555;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 500;
  margin-left: 7rem;
  letter-spacing: 0.1rem;
}

.email-container {
  margin-top: 3rem;
  margin-left: 7rem;
}

.email-container input,
.email-container select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.email-container input::placeholder {
  color: #aaa;
}

.btn-subscribe {
  color: #fff;
  margin: 5rem 5rem 0rem;
  display: inline-block;
  font-weight: 600;
  background-color: #553fd4;
  text-decoration: none;
  font-size: 1.8rem;
  width: 40%;
  padding: 1.5rem 2rem;
  border-radius: 11px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
  transform: translateY(-2.2rem);
  text-align: center;
}

.btn-subscribe:hover,
.btn-subscribe:active {
  color: #000;
  background-color: #ffffff;
}

.btn-subscribe:link,
.btn-subscribe:visited {
  background-color: #fff;
  color: #555;
}

.grid-template-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.social-item-list {
  list-style: none;
  margin-left: 7rem;
  margin-top: 1rem;
  column-gap: 1rem;
}

.social-item {
  width: 2.5rem;
  height: 2.5rem;
  color: #535558;
}
