/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
  .text-details {
    font-size: 1.3rem;
  }

  .box {
    height: 20rem;
  }

  .box-media {
    transform: translateY(-4rem);
  }

  .searchbar-container {
    height: 92rem;
  }

  .package-container {
    height: 47rem;
  }

  .clock-time {
    width: 2rem;
    height: 2rem;
  }

  .days {
    font-size: 1.4rem;
  }
  .discount-price {
    margin-top: 0.4rem;
    font-size: 2.2rem;
    transform: translateX(0.2rem);
  }

  .original-price {
    display: inline-block;
    padding-right: 0.4rem;
    margin-right: 0.4rem;
  }

  .discount-text {
    margin-left: 60rem;
  }

  .quality-text {
    font-size: 2.3rem;
  }

  .item-text {
    margin-top: 1rem;
    font-size: 1.8rem;
  }

  .destination-item {
    height: 80%;
  }

  .tour-text {
    transform: translateY(-4rem);
    font-size: 1.3rem;
    padding: 0.4rem 0.3rem;
  }

  .tour {
    justify-content: space-around;
  }

  .top-title {
    font-size: 2.3rem;
  }

  .footer-gallery {
    width: 40rem;
  }

  .contact-section {
    margin-left: 0rem;
  }

  .destination-small-text {
    font-size: 2.5rem;
  }

  .discount-detail-text {
    width: 35rem;
  }

  .gallery-item {
    height: 30rem;
  }

  .btn-subscribe {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  .searchbar-container .item .discount {
    position: absolute;
    top: 6%;
    right: -26%;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 800;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .discount-title {
    font-size: 3rem;
  }

  .discount-detail-text {
    width: 30rem;
  }

  .btn-promotion {
    font-size: 1.5rem;
    padding: 1.5rem 1.5rem;
  }

  .bluebar-container {
    height: 17rem;
  }

  .item-icon {
    height: 6.5rem;
    width: 6.5rem;
    transform: translateY(-1rem);
  }

  .item-text {
    font-size: 1.4rem;
    transform: translateY(-2rem);
    margin-left: 1rem;
  }

  .searchbar-container label {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
  }

  .searchbar-container input,
  .searchbar-container select {
    width: 100%;
    padding: 0.6rem;

    font-size: 1.6rem;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
  }

  .fa-magnifying-glass {
    transform: translateY(-0.3rem);
  }

  .box {
    height: 18rem;
  }

  .box-media {
    transform: translateY(-4rem);
  }

  .searchbar-container {
    height: 87rem;
  }

  .searchbar-container .item .discount {
    position: absolute;
    top: 6%;
    right: -22%;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 800;
    color: #333;
    background-color: #ffd43b;
    padding: 0.8rem 8rem;
    transform: rotate(45deg);
  }

  .tour-text {
    transform: translateY(-5rem);
    font-size: 1.2rem;
    padding: 0.3rem 0.2rem;
  }

  .destination-small-text {
    font-size: 2rem;
  }

  .destination-item img {
    height: 30rem;
  }

  .popular-destination {
    height: 45rem;
  }

  .tour-container {
    width: 18rem;
  }

  .tour {
    justify-content: space-between;
  }

  .activities-list {
    text-align: center;
  }

  .browse-activity {
    margin-left: 5rem;
  }

  .btn-subscribe {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
  }

  .gallery-item {
    height: 26rem;
  }

  .article-section {
    height: 40rem;
  }

  .article-container {
    height: 5rem;
  }

  .quality-text {
    width: 25rem;
    font-size: 2.2rem;
    transform: translateY(-2rem);
  }

  .quality-icon-thumbs {
    transform: translateY(-2rem);
    height: 6rem;
    width: 6rem;
  }

  .quality-icon {
    transform: translateY(-2rem);
    height: 7rem;
    width: 7rem;
  }

  .quality-container {
    height: 14rem;
  }

  .item-text {
    transform: translateY(-3rem);
  }

  .footer-logo {
    transform: translateX(-2rem);
    width: 20rem;
  }

  .logo-text {
    transform: translateX(-2rem);
    width: 24rem;
  }

  .top-title {
    font-size: 1.8rem;
    transform: translateX(-2rem);
  }

  .footer-gallery {
    transform: translateX(-2rem);
    grid-template-columns: repeat(3, 1fr);
    width: 32rem;
  }

  .footer-gallery-item img {
    height: 10rem;
    width: 10rem;
  }

  .footer-gallery-small-text {
    font-size: 1.4rem;
  }

  .grid-template-columns-7 {
    grid-template-columns: repeat(4, 1fr);
    width: 16rem;
    row-gap: 1rem;
  }

  .contact-title {
    transform: translateX(0rem);
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  .info-list-item {
    display: none;
  }

  .owl-text-overlay {
    transform: translate(-6rem, -5rem);
  }

  .grid-template-columns-2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .box {
    height: 25rem;
  }

  .searchbar-container {
    height: 95rem;
  }

  .searchbar-container .item .discount {
    right: -33%;
  }

  .nation {
    font-size: 1.5rem;
  }

  .original-price {
    display: inline-block;
    padding-right: 1.6rem;
    margin-right: 0.6rem;
  }

  .del {
    font-size: 1.5rem;
  }

  .discount-price {
    font-size: 1.6rem;
  }

  .text-details {
    font-size: 1rem;
  }

  .review {
    margin-top: 1.2rem;
    margin-left: 0;
    font-size: 1.3rem;
  }

  .popular-text {
    width: 50rem;
  }

  .tour {
    width: 13rem;
    margin-left: 2.4rem;
  }

  .destination-small-text {
    font-size: 1.5rem;
  }

  .bicycle {
    margin-left: 2rem;
  }

  .browse-title {
    font-size: 2.5rem;
  }

  .browse-activity {
    margin-left: 2rem;
    margin-top: 3rem;
  }

  .form .mail {
    margin-left: 2rem;
  }

  .news-small-title {
    margin-left: 2rem;
    width: 30rem;
    font-size: 1.2rem;
  }

  .email-container {
    margin-left: 2rem;
  }

  .newsletter .grid-template-columns-6 {
    grid-template-columns: repeat(1, 1fr);
  }

  .email-container input,
  .email-container select {
    width: 80%;
  }

  .btn-subscribe {
    margin-left: 2rem;
    margin-right: 0;
    padding: 1.5rem 5rem;
  }

  .grid-template-columns-7 {
    grid-template-columns: repeat(7, 1fr);
    margin-left: 2rem;
  }

  .discount-text {
    margin-left: 30rem;
  }

  .article-section {
    height: 65rem;
  }

  .article-title {
    margin-top: 3rem;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .quality-text {
    padding-top: 2rem;
  }

  .quality-container {
    height: 8rem;
    text-align: center;
  }

  .grid-template-columns-8 {
    transform: translateY(-1rem);
  }

  .item-text-details {
    display: none;
  }

  .quality-text {
    width: 25rem;
    font-size: 2.2rem;
  }

  .quality-icon-thumbs {
    height: 4rem;
    width: 4rem;
  }

  .quality-icon {
    height: 5rem;
    width: 5rem;
  }

  .grid-template-columns-9 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .logo-text {
    width: 42rem;
    padding-left: 5rem;
  }

  .awards {
    margin-bottom: 3rem;
  }

  .top-title {
    padding-left: 5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .footer-gallery {
    width: 100%;
    margin-left: 2rem;
  }

  .contact-title {
    margin-left: -2rem;
    margin-top: 2rem;
  }

  .contact-social-media {
    margin-left: 21rem;
  }
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .info-list-item {
    display: none;
  }

  .logo {
    width: 20rem;
    height: 7rem;
  }

  .owl-text-overlay {
    transform: translate(-4rem, -5rem);
  }

  .grid-template-columns-1 {
    grid-template-columns: repeat(2, 1fr 2fr);
    transform: translateY(-2rem);
  }

  .item-icon {
    transform: translateY(-2rem);
  }

  .box {
    height: 50rem;
  }

  .grid-template-columns-2 {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 30px;
  }

  .fa-magnifying-glass {
    font-size: 2rem;
    transform: translateY(-0.7rem);
  }

  .btn--form {
    margin-top: 3rem;
  }

  .searchbar-container {
    height: 125rem;
  }

  .grid-template-columns-3 {
    grid-template-columns: 5fr 0.5fr;
    color: inherit;
    border: none;
    background-color: #fdf2e9;
  }

  .package-smalltext {
    margin-left: 4rem;
  }

  .searchbar-container .item .discount {
    right: -24%;
  }

  .package-slider {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  /* .package-slider .owl-carousel {
    width: 100%;
  } */

  .subway {
    transform: translateY(-3rem);
    margin-left: 4rem;
    margin-top: 0rem;
  }

  .popular-title {
    margin-left: 2rem;
    font-size: 2.5rem;
    transform: translateY(-3.5rem);
  }

  .popular-small-title {
    display: none;
  }

  .popular-text {
    margin-top: 0rem;
    width: 28rem;
  }

  .popular-destination {
    height: 155rem;
  }

  .destinations {
    height: 140rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }

  .destination-small-text {
    font-size: 3rem;
  }

  .tour-container {
    width: 43rem;
  }

  .tour-text {
    transform: translateY(-7rem);
    font-size: 1.7rem;
    padding: 0.3rem 0.6rem;
  }

  .newsletter-section {
    height: 100rem;
  }

  .form .mail {
    margin-left: 4rem;
  }

  .newsletter-title {
    margin-left: 3rem;
  }

  .news-small-title {
    margin-left: 5rem;
  }

  .email-container {
    margin-left: 5rem;
    width: 100%;
  }

  .btn-subscribe {
    width: 70%;
    margin-top: 0;
    margin-left: 5rem;
  }

  .social-item-list {
    margin-left: 5rem;
  }

  .grid-template-columns-6 {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 4rem;
  }

  .bicycle {
    margin-left: 4rem;
  }

  .email-container input,
  .email-container select {
    width: 70%;
  }

  .grid-template-columns-7 {
    grid-template-columns: repeat(7, 1fr);
    width: 27rem;
  }

  .newsletter-section {
    height: 83rem;
  }

  .discount-text {
    margin-left: 4rem;
  }

  .btn-promotion {
    margin-top: 2.5rem;
    margin-left: 6.5rem;
  }

  .article-container {
    height: 0rem;
    padding-top: 0rem;
  }

  .article-small-title {
    display: none;
  }

  .article-section {
    height: 60rem;
  }

  .book {
    margin-left: 3rem;
  }

  .gallery {
    transform: translateY(-3.5rem);
    grid-template-columns: repeat(2, 1fr);
  }

  .quality-container {
    height: 40rem;
  }

  .quality-text {
    font-size: 2.5rem;
    width: 23rem;
    padding: 0;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 2rem;
  }

  .quality-container .item-text {
    transform: translateY(-8rem);
    font-size: 2rem;
    margin-left: 6rem;
  }

  .grid-template-columns-8 {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }

  .quality-icon-thumbs {
    height: 6rem;
    width: 6rem;
  }

  .quality-icon {
    height: 6rem;
    width: 6rem;
  }

  .grid-template-columns-9 {
    grid-template-columns: repeat(1, 1fr);
  }

  .logo-section {
    width: 30rem;
  }

  .logo-text {
    width: 30rem;
    padding-left: 5rem;
  }

  .awards {
    margin-left: 0;
    width: 30rem;
    margin-bottom: 3rem;
  }

  .top-destinations-section {
    width: 30rem;
  }

  .top-title {
    padding-left: 5rem;
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .footer-gallery {
    width: 100%;
    margin-left: 2rem;
  }

  .contact-section {
    width: 30rem;
  }

  .contact-title {
    margin-left: -2rem;
    margin-top: 2rem;
  }

  .contact-social-media {
    margin-left: 2rem;
  }

  .owl-carousel .owl-nav button.owl-prev {
    left: -50px;
  }

  .owl-carousel .owl-nav button.owl-next {
    right: -50px;
  }
}

/**************************/
/* Fixing Safari flexbox gap */
/**************************/
