@import "home";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");

.slidermain {
  .slider1 {
    .item {
      margin: -1px;
    }
    .item .slide {
      height: 95vh;
      background-position: center 35%;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;

      h1 {
        color: white;
      }

      h2 {
        font-size: 2.7rem;
        color: $brandlblue;
      }
      p {
        color: white;
      }
    }
    .slide1 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url("../img/egypt.png");
    }

    .slide2 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url("../img/cruise.png");
    }
    .slide3 {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          rgba(0, 0, 0, 0)
        ),
        url("../img/river.png");
    }
  }
}
