body {
  padding: 0;
}

/**************************/
/* HEADER */
/**************************/
.pre-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  height: 3.6rem;
  padding: 0 4.8rem;
  position: relative;
  z-index: 100;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.5)
  );
  z-index: 100;
  height: 9rem;
  padding: 0 4rem;
  position: relative;
}

.logo {
  height: 7.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.info-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
}

.list-icon {
  height: 2rem;
  width: 1.7rem;
  transform: translatey(0.5rem);
  color: #ffffff;
}

.info-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 530;
  font-size: 1.4rem;
  transition: all 0.3s;
  letter-spacing: 0.1rem;
}

.social-list-item {
  display: flex;
  list-style: none;
  gap: 1rem;
  align-items: center;
  transform: translatey(0.5rem);
}

.social-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  color: rgb(72, 185, 193);
}

.account-link {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.3rem;
  transition: all 0.3s;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active,
.social-link:hover,
.social-link:active,
.account-link:hover,
.account-link:active,
.info-link:hover,
.info-link:active {
  color: #000000;
}

.slider-section {
  transform: translatey(-13.2rem);
  margin: -1px;
}

.slider-section .item {
  height: 95vh;
}

#title {
  background-color: #000;
  padding: 40px 0px;
  .fa {
    color: #fff;
    font-size: 40px;
    padding-left: 40px;
  }
}

/* Ow; Slider CSS*/

.owl-wrapper {
  position: relative;
}

.owl-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.owl-theme .owl-controls .owl-page span {
  background: #fff !important;
}

.owl-img {
  width: 100%;
  height: 100vh;
}

.owl-text-overlay {
  position: absolute;
  text-align: start;
  width: 60%;
  top: 50%;
  transform: translate(-15rem, -5rem);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  padding-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  border-radius: 15px 50px 30px 5px;
}

h2.owl-title {
  font-size: 70px;
  font-weight: 700;
  margin: 10 auto 20 10;
  text-align: start;
}

h3.owl-subtitle {
  font-size: 40px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #37a6a6;
}

p.owl-text {
  font-size: 20px;
  font-weight: 400;
  text-align: start;
}

.owl-theme .owl-controls .owl-page span:active {
  background: #fff !important;
}

.slider-section .owl-theme .owl-dots,
.slider-section .owl-theme .owl-nav {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.slider-section .owl-theme .owl-dots .owl-dot.active span,
.slider-section .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #e9e9e9;
  border: 3px solid grey;
  outline: 3px solid #e9e9e9;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-section button.owl-dot {
  margin-right: 15px;
}

.slider-section button.owl-dot:last-child {
  margin-right: 0px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  transform: scale(2);
  padding: 10px;
  margin: 0.5rem -0.3rem;
}

.keywords {
  width: 100%;
  padding: 10px;
  text-align: center;
  margin-bottom: 3px;
}

.grid-template-columns-3 {
  grid-template-columns: 5fr 1fr;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
}

.package-heading {
  font-family: inherit;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
  margin-left: 6rem;
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: -0.02rem;
}

.package-smalltext {
  display: inline-block;
  margin-bottom: 7rem;
  font-size: 1.7rem;
  color: #2561e1;
  font-weight: 500;
}

.grid-template-columns-4 {
  grid-template-rows: 270px auto;
  border: none;
  height: 520px;
  overflow: hidden;
}

.owl-sliderimg {
  height: 270px;
}

.package-slider {
  margin-left: 10rem;
  margin-right: 10rem;
}

.img-wrapper {
  height: 270px;
}

.clock {
  padding: 6rem 0rem 0rem;
}

.clock-time {
  width: 2.6rem;
  height: 2.6rem;
  margin-left: 1.8rem;
  transform: translateY(0.7rem);
}

.days {
  font-size: 1.8rem;
  font-family: inherit;
  letter-spacing: 0.1rem;
}

.star-flex {
  margin-left: 2rem;
}

.star-fill {
  width: 1.8rem;
  height: 1.8rem;
  color: #f1962e;
}

.review {
  font-size: 1.5rem;
  margin-left: 1.2rem;
  display: inline-block;
  transform: translateY(-0.4rem);
}

.searchbar-container .item {
  position: relative;
  overflow: hidden;
}

.searchbar-container .item .discount {
  position: absolute;
  top: 6%;
  right: -20%;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 800;
  color: #333;
  background-color: #ffd43b;
  padding: 0.8rem 8rem;
  transform: rotate(45deg);
}
